<section class="mt-4">

    <div class="container-fluid d-flex flex-wrap justify-content-center">

        <div class="card m-2" style="width: 18rem;" *ngFor="let product of productsService.products">
            <img src="{{product.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
        </div>

    </div>

</section>
