/* You can add global styles to this file, and also import other style files */
.bg-purple-pastel {
    background: #8076fb !important;
}

.bg-purple-dark {
    background: #2f2977 !important;
}

.text-purple-dark {
    color: #2f2977 !important;
}

.text-purple-pastel {
    color: #8076fb !important;
}